/*===========================================
   Variables
===========================================*/

// Colors
$black: #111;
$white: #fff;
$boulder: #797979;
$alto: #bfbfbf;
$silver-chalice: #b2b2b2;
$header-background: #7477BF;
$notification: #82c78d;
$nav-background: #4d4c72;
$ship-cove: #7377BF;
$de-york: #81c98f;
$glacier: #74b1bf;
$link-water: #e2e3f6;
$alabaster: #fbfbfb;

// Font Weights

$font-weight--thin  : 200;
$font-weight--light : 300;
$font-weight--medium: 400;
$font-weight--bold  : 700;
$font-weight--ultra : 900;

// Breakpoints

$brkpoint-sm:  1px;
$brkpoint-md:  768px;
$brkpoint-lg:  1024px;
$brkpoint-xlg: 1400px;

// Typography
$font-stack-primary: 'Montserrat', serif;
$base-font-size: 16px;

// Margin centered
$margin-center: 0 auto;

// Media Query Breakpoints
