/*===========================================
   Header Styles
===========================================*/

header {
  background-color: $header-background;
  display: flex;

  @include mq(large) {
    z-index: 2;
    position: fixed;
    width: 100%;
    top: 0;
  }
}

header ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0;

  @include mq(small) {
    flex-direction: row;
  }
}

header li {
    display: flex;
    align-items: center;
}

.header-title {
  color: $white;
  font-size: em(20px);
}

.header-info li:first-of-type {
  margin-right: auto;
}

.your {
  font-weight: 700;
  margin-left: em(15px);

  @include mq(medium) {
    padding-left: em(20px);
  }
}

.app {
  font-weight: 200;
}

.tm {
  font-size: em(12px);
  font-weight: 200;
  vertical-align: top;
}

.header-border {
  border: $nav-background solid 1px;
  border-top: none;
  border-right: none;
  border-bottom: none;
  height: em(30px);
  margin: 0 em(20px) 0 em(10px);
}

.user-pic {
  height: em(30px);
  border-radius: 50%;
  margin-right: em(15px);

  @include mq(medium) {
    margin-right: 0;
  }
}

.user-name {
  color: $white;
  padding: 0 0 0 em(10px);
  display: none;

  @include mq(medium) {
    display: list-item;
    padding: 0 em(15px) 0 em(10px);
  }
}
