/*===========================================
   Member Activity Styles
===========================================*/

.member-activity {
  padding-bottom: 10px;
}

.member-activity img {
  border-radius: 50%;
  width: 3.5em;

  @include mq(medium) {
    width: 5em;
  }

  @include mq(large) {
    width: 3em;
  }
}

.member-activity-border {

  @include mq(large) {
    border: $alto solid 1px;
    border-top: none;
    border-right: none;
    border-bottom: none;
    height: 551px;
    margin: -10px em(15px) -10px;
  }
}

.new-members,
.recent-activity {
  width: 95%;
  margin: 15px auto 30px;
  @include mq(large) {
    margin: 0 auto;
    width: 48%;
  }
}

.new-members ul,
.recent-activity ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.new-members-list,
.recent-activity-list {
  padding: 0;
}

.new-members-container,
.recent-activity-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: em(80px);
}

.new-member-info,
.recent-activity-info {
  padding-left: 8px;

  @include mq(medium) {
    padding-left: 15px;
  }
}

.new-member-info p,
.recent-activity-info p {
  color: $boulder;
  margin: 0;
  padding-bottom: 10px;
}

.new-members-container p {
  color: $boulder;
}

.new-member-info a,
.recent-activity a {
  color: $header-background;
  text-decoration: none;
}

.new-members-break,
.recent-activity-break {
  border: solid $silver-chalice 1px;
  display: inline;
  width: 100%;
  margin-top: 20px;
  padding: 10px 0;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.recent-activity a:last-of-type {
  margin-left: auto;
}

.new-members-container p:last-of-type {
  margin-left: auto;
}

.recent-activity h3 {
  padding-top: 10px;

  @include mq(large) {
    padding-top: 0;
  }
}
